[submodule "VoipatDialer"]
	path = VoipatDialer
	url = https://github.com/asm2me/VoipatDialer.git
[submodule "WebrtcPhoneCSharp"]
	path = WebrtcPhoneCSharp
	url = https://github.com/asm2me/Webrtc-phone-c-.git
[submodule "webrtc_phone"]
	path = webrtc_phone
	url = https://github.com/asm2me/fusionPBX-webrtc-phone.git
[submodule "WebRtcPhoneDialer-Android"]
	path = WebRtcPhoneDialer-Android
	url = https://github.com/asm2me/WebRtcPhoneDialer-Android.git
[submodule "fusionpbx-api"]
	path = fusionpbx-api
	url = https://github.com/asm2me/Fusionpbx-API.git
